{% extends 'nfadfa/layout.html' %}
{% load static %}
{% block title %}Minimize DFA{% endblock %}

{% block body %}
<div class="container">
    <h1>Minimize DFA</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="string_test">Test String Before Minimized: </label>
        <input type="text" name="string_test" id="string_test" value="{{ request.POST.string_test }}" placeholder="01">

        {% if graph_path %}
            <label for="string_test_after">Test String After Minimized: </label>
            <input type="text" name="string_test_after" id="string_test_after" value="{{ request.POST.string_test }}" placeholder="01">
        {% endif %}
        <button type="submit">Submit</button>

    </form>
</div>

{% if graph_path %}
<h2>Results: </h2>
<section class="result">
    <div class="graph">
        <h2>DFA graph before minimized:</h2>
        <img src="{% static graph_path.before %}" alt="DFA Unminimized">
    </div>
{#    <div class="transition-table">#}
{#        <h2>ENFA Transition Table: </h2>#}
{#        <table>#}
{#            {% for row in transition_table %}#}
{#                <tr>#}
{#                    {% if forloop.counter0 == 0 %}#}
{#                        {% for column in row %}#}
{#                            <th> {{ column }} </th>#}
{#                        {% endfor %}#}
{#                    {% else %}#}
{#                        {% for column in row %}#}
{#                            <td> {{ column }} </td>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </table>#}
{#    </div>#}
</section>

{% if accept_before != None %}
    {% if accept_before %}
        <h3>Accepted</h3>
    {% else %}
        <h3>Rejected</h3>
    {% endif %}
{% endif %}

<section class="result">
    <div class="graph">
        <h2>DFA graph after minimized:</h2>
        <img src="{% static graph_path.after %}" alt="DFA Minimized">
    </div>
{#    <div class="transition-table">#}
{#        <h2>ENFA Transition Table: </h2>#}
{#        <table>#}
{#            {% for row in transition_table %}#}
{#                <tr>#}
{#                    {% if forloop.counter0 == 0 %}#}
{#                        {% for column in row %}#}
{#                            <th> {{ column }} </th>#}
{#                        {% endfor %}#}
{#                    {% else %}#}
{#                        {% for column in row %}#}
{#                            <td> {{ column }} </td>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </table>#}
{#    </div>#}
</section>
{% endif %}

{% if accept_after != None %}
    {% if accept_after %}
        <h3>Accepted</h3>
    {% else %}
        <h3>Rejected</h3>
    {% endif %}
{% endif %}


{% endblock %}