{% extends 'nfadfa/layout.html' %}
{% load static %}
{% block title %}NFA to DFA Conversion{% endblock %}

{% block body %}
<section class="conversion-form">
    <h2>NFA to DFA Conversion</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Convert</button>
    </form>
</section>

{% if graph_path %}
<h2>Results: </h2>
<section class="result">
    <div class="graph">
        <h2>ENFA Graph:</h2>
        <img src="{% static graph_path.enfa %}" alt="ENFA Graph">
    </div>
    <div class="transition-table">
        <h2>ENFA Transition Table: </h2>
        <table>
            {% for row in enfa_table %}
                <tr>
                    {% if forloop.counter0 == 0 %}
                        {% for column in row %}
                            <th> {{ column }} </th>
                        {% endfor %}
                    {% else %}
                        {% for column in row %}
                            {% if forloop.counter0 == 0 %}
                                <td>{{ column }}</td>
                            {% else %}
                                <td>{{ column|join:", " }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
<section class="result">
    <div class-="graph">
        <h2>NFA Graph:</h2>
        <img src="{% static graph_path.nfa %}" alt="NFA Graph">
    </div>
    <div class="transition_table">
        <h2>NFA Transition Table:</h2>
        <table>
            {% for row in nfa_table %}
                <tr>
                    {% if forloop.counter0 == 0 %}
                        {% for column in row %}
                            <th> {{ column }} </th>
                        {% endfor %}
                    {% else %}
                        {% for column in row %}
                            {% if forloop.counter0 == 0 %}
                                <td>{{ column }}</td>
                            {% else %}
                                <td>{{ column|join:", " }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
<section class="result">
    <div class="graph">
        <h2>DFA Graph:</h2>
        <img src="{% static graph_path.dfa %}" alt="DFA Graph">
    </div>
    <div class="transition-table">
        <h2>DFA Transition Table:</h2>
        <table>
            {% for row in dfa_table %}
                <tr>
                    {% if forloop.counter0 == 0 %}
                        {% for column in row %}
                            <th> {{ column }} </th>
                        {% endfor %}
                    {% else %}
                        {% for column in row %}
                            {% if forloop.counter0 == 0 %}
                                <td>{{ column }}</td>
                            {% else %}
                                <td>{{ column|join:", " }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endif %}

<script>
{% if error_messages %}
    alert("{{ error_messages }}");
{% endif %}

{#  add epsilon button to transition form #}
    const transition_form = document.getElementById('id_transitions')
    const last_p_form = document.querySelector('form p:last-of-type');
    const epsilon_button = document.createElement('button');

    epsilon_button.innerHTML = 'Add epsilon (ε)';
    last_p_form.append(epsilon_button);

    epsilon_button.classList.add('epsilon_button');

    epsilon_button.type = 'button';

    epsilon_button.onclick = () => {
        transition_form.value += "ε";
    }


{# add epsilon button to symbol form #}

    const symbol_form = document.getElementById('id_symbols')
    const first_p_form = document.querySelector('form p:first-of-type');
    const epsilon_button_2 = document.createElement('button');

    epsilon_button_2.innerHTML = 'Add epsilon (ε)';
    first_p_form.append(epsilon_button_2);

    epsilon_button_2.classList.add('epsilon_button');
    epsilon_button_2.type = 'button';
    epsilon_button_2.onclick = () => {
        symbol_form.value += "ε";
    }

</script>




{% endblock %}
