{% extends 'nfadfa/layout.html' %}
{% load static %}
{% block title %}RegEx to ε-NFA Conversion{% endblock %}

{% block body %}
<div class="container">
    <h1>RegEx to ε-NFA Converter</h1>
    <form method="post">
        {% csrf_token %}
        <p>Please Only Use Alphanumeric Characters, '+', '.', '*', '(', and ')'. Also, Don't Forget to Double Check Your Input!</p>
        <label for="id_regex">Enter Regular Expression:</label>
        {{ form.regex }}
        <button type="submit">Convert</button>
    </form>
</div>

{% if graph_path %}
<h2>Results: </h2>
<section class="result">
    <div class="graph">
        <h2>ε-NFA Graph:</h2>
        <img src="{% static graph_path %}" alt="ENFA Graph">
    </div>
    <div class="transition-table">
        <h2>ε-NFA Transition Table: </h2>
        <table>
            {% for row in transition_table %}
                <tr>
                    {% if forloop.counter0 == 0 %}
                        {% for column in row %}
                            <th> {{ column }} </th>
                        {% endfor %}
                    {% else %}
                        {% for column in row %}
                            {% if forloop.counter0 == 0 %}
                                <td>{{ column }}</td>
                            {% else %}
                                <td>{{ column|join:", " }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endif %}

{% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
{% endif %}


{% endblock %}